---
- name: Check if i386 is enabled
  shell: dpkg --print-foreign-architectures | grep i386
  register: result_i386_check
  
- name: Enable i386 architecture
  command: dpkg --add-architecture i386
  when: result_i386_check.rc != 0
  
- name: Install needed package
  apt: name="{{ pwn_pkgs }}" state=present update_cache=yes
  
- name: Install useful tools via gem
  gem: name="{{ item }}" state=latest
  with_items: "{{ pwn_gems }}"
  become: vagrant

- name: Download pwncat
  get_url:
    url: https://raw.githubusercontent.com/owlinux1000/pwncat/master/pwncat
    dest: /usr/local/bin/pwncat
    mode: 0755
    force: yes

- name: Download rp++
  get_url:
    url: https://github.com/downloads/0vercl0k/rp/rp-lin-x64
    dest: /usr/local/bin/rp++
    mode: 0755
    force: yes

- name: Download gdb-peda
  git:
    repo: https://github.com/scwuaptx/peda
    dest: ~/peda
  become: vagrant

- name: Download Pwngdb
  git:
    repo: https://github.com/scwuaptx/Pwngdb
    dest: ~/Pwngdb
  become: vagrant
  
- name: Create symbolic link .gdbinit
  file:
    src: ~/Pwngdb/.gdbinit
    dest: ~/.gdbinit
    state: link
  become: vagrant
